<div class="navbar-spacer"></div>
<nav class="navbar">
<div class="container">
  <ul class="navbar-list">
    <li class="navbar-item"><a class="navbar-link" href="/">Main Page</a></li>
    <li class="navbar-item">
      <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
      <div id="moreNavPopover" class="popover">
        <ul class="popover-list">
          <li class="popover-item">
            <a class="popover-link" href="http://bitbucket.org/pantunes/xtcryptosignals">On Bitbucket</a>
          </li>
          <li class="popover-item">
            <a class="popover-link" href="https://pypi.org/project/XTCryptoSignals/">On Pypi</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</nav>