<div class="navbar-spacer"></div>
<nav class="navbar">
<div class="container">
  <ul class="navbar-list">
    <li class="navbar-item"><a class="navbar-link" href="/">Main Page</a></li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#tickerNavPopover">Tickers</a>
      <div id="tickerNavPopover" class="popover">
        <ul class="popover-list">
          {% for f in frequencies %}
          <li class="popover-item">
            <a class="popover-link" href="{{url_for(url, frequency=f, **params)}}">
              {% for _ in range(11) %}&nbsp;{% endfor %}{{f}}{% for _ in range(11) %}&nbsp;{% endfor %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#pairsNavPopover">Pairs</a>
      <div id="pairsNavPopover" class="popover">
        <ul class="popover-list">
          {% for p in pairs %}
          <li class="popover-item">
            <a class="popover-link" href="{{url_for('ticker_pair', frequency=frequency, pair=p)}}">
              {% for _ in range(2) %}&nbsp;{% endfor %}{{p}}{% for _ in range(2) %}&nbsp;{% endfor %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#moreNavPopover">More</a>
      <div id="moreNavPopover" class="popover">
        <ul class="popover-list">
          <li class="popover-item">
            <a class="popover-link" href="http://bitbucket.org/pantunes/xtcryptosignals">On Bitbucket</a>
          </li>
          <li class="popover-item">
            <a class="popover-link" href="https://pypi.org/project/XTCryptoSignals/">On Pypi</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" data-popover="#versionNavPopover">XTCryptoSignals v{{version}}</a>
    </li>
  </ul>
</div>
</nav>