<!-- Signup Modal -->
<div id="modal_signup" class="modal">
    <h5>Signup</h5>
    <form id="form_signup">
      <div class="row">
          <label for="signup_email">E-mail address</label>
          <input class="u-full-width" type="email" placeholder="you@mailbox.com" id="signup_email" name="email">
      </div>
      <div class="row">
          <label for="signup_password">Password</label>
          <input class="u-full-width" type="password" id="signup_password" name="password">
      </div>
      <div class="row">
          <label for="signup_confirm_password">Re-type Password</label>
          <input class="u-full-width" type="password" id="signup_confirm_password" name="confirm_password">
      </div>
      <div class="row">
          <label for="signup_nickname">Nickname</label>
          <input class="u-full-width" type="text" id="signup_nickname" name="name">
      </div>
      <input class="button-primary" type="button" value="Submit" onClick="(
          function() {
              signup(); return false;
        })(); return false;">
    </form>
</div>
<!-- /Signup Modal -->
