include requirements.txt
include requirements-test.txt
include xtcryptosignals/migrations/*.*
include xtcryptosignals/scripts/*.*
include xtcryptosignals/templates/*.*
include xtcryptosignals/templates/snippets/*.*
include xtcryptosignals/static/css/*.*
include xtcryptosignals/static/imgs/*.*
include xtcryptosignals/static/imgs/readme/*.*
include xtcryptosignals/static/js/*.*
