include requirements.txt
include requirements-test.txt
include xtcryptosignals/server/migrations/*.*
include xtcryptosignals/config/*.*
include xtcryptosignals/scripts/*.*
include xtcryptosignals/client/templates/*.*
include xtcryptosignals/client/templates/snippets/*.*
include xtcryptosignals/client/templates/modals/*.*
include xtcryptosignals/client/templates/ticker/*.*
include xtcryptosignals/client/static/css/*.*
include xtcryptosignals/client/static/css/skeleton/*.*
include xtcryptosignals/client/static/css/notify/styles/*.*
include xtcryptosignals/client/static/imgs/*.*
include xtcryptosignals/client/static/imgs/readme/*.*
include xtcryptosignals/client/static/imgs/logos/*.*
include xtcryptosignals/client/static/js/*.*
include xtcryptosignals/client/static/js/notify/styles/*.*
