include requirements.txt
include requirements-test.txt
include xtcryptosignals/server/migrations/*.*
include xtcryptosignals/scripts/*.*
include xtcryptosignals/client/templates/*.*
include xtcryptosignals/client/templates/snippets/*.*
include xtcryptosignals/client/static/css/*.*
include xtcryptosignals/client/static/imgs/*.*
include xtcryptosignals/client/static/imgs/readme/*.*
include xtcryptosignals/client/static/js/*.*
