redis==3.4.1
celery==4.4.0
mongoengine==0.19.1
requests==2.23.0
click==7.0
flask==1.1.1
flask-restful==0.3.8
flask-session==0.3.1
flask-socketio==4.2.1
flask-login==0.5.0
flask-wtf==0.14.3
eventlet==0.25.1
gunicorn==20.0.4
mongodb-migrations==0.6.3
bcrypt==3.2.0
environs==8.0.0
pywebpush==1.11.0
captcha==0.3
wikipedia-api==0.5.4
beautifulsoup4==4.9.1
millify==0.1.1
py-etherscan-api==0.8.0
cfscrape==2.1.1
python-binance==0.7.5
python-kucoin==2.1.2
python-idex==1.0.0
python-telegram-bot==12.8
pycryptodome==3.7.0
marshmallow==2.20.5
jsonschema==2.6.0
mistune==0.8.4
switcheo==0.4.0
flasgger==0.9.2
python-socketio[client]==4.4.0
websockets==6.0
