python-binance
redis
celery
mongoengine
requests
click
flask
flask-restful
flask-session
flask-socketio
flask-login
flask-wtf
eventlet
gunicorn
mongodb-migrations
bcrypt
environs
pywebpush
captcha

# versioned library dependencies
marshmallow==2.20.5
jsonschema==2.6.0
mistune==0.8.4
switcheo==0.4.0
flasgger==0.9.2
python-socketio[client]==4.4.0
