<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XTCryptoSignals - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/imgs/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/imgs/favicon-32x32.png" sizes="32x32">
    <!-- css -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:400,300,600' type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="/static/css/skeleton/normalize.css" type="text/css">
    <link rel="stylesheet" href="/static/css/skeleton/skeleton.css" type="text/css">
    <link rel="stylesheet" href="/static/css/skeleton/custom.css" type="text/css">
    <link rel="stylesheet" href="/static/css/custom.css" type="text/css">
    <link rel="stylesheet" href="/static/css/darkmode.css" type="text/css">
    <!-- js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/npm/darkmode-js@1.5.0/lib/darkmode-js.min.js" type="text/javascript"></script>
    <script src="/static/js/modals.js" type="text/javascript"></script>
    <script src="/static/js/actions.js" type="text/javascript"></script>
    <script src="/static/js/notify/styles/bootstrap.js" type="text/javascript"></script>

    <script type="text/javascript">
        function process_fail(xhr) {
            if (xhr.status === 401) {
                window.location = '{{logout_url}}';
                return;
            }
            $.notify(JSON.parse(xhr.responseText).error);
        }
    </script>

    <script type="text/javascript">
        const csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            open_modal(window.location.hash);
        });
    </script>

{% set logout_url = url_for('errors.logged_out') %}

{% block include_scripts_top %}{% endblock %}

    <body class="has-docked-nav">
        <div class="container">
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
        </div>

{% include 'modals/contact.html' %}
{% include 'modals/login.html' %}
{% include 'modals/signup.html' %}
{% include 'modals/info.html' %}

{% block include_scripts_bottom %}{% endblock %}

        <br/>
        <div id="footer">
            <b>2019 @ XTCryptoSignals</b> | Open Source Project
            >> <a href="https://bitbucket.org/pantunes/xtcryptosignals/src/default">Bitbucket</a>
            >> <a href="https://pypi.org/project/XTCryptoSignals">PyPi</a>
        </div>

        <!-- Dark Mode -->
        <script type="text/javascript">
            const options = {
                time: '0.0s', // default: '0.3s'
                saveInCookies: true, // default: true,
                label: '🌓', // default: ''
                autoMatchOsTheme: true // default: true
            };
            const darkmode = new Darkmode(options);
            darkmode.showWidget();
        </script>
        <!-- /Dark Mode -->

{% if ga_tracking_id %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking_id }}');
        </script>
        <!-- /Global site tag (gtag.js) - Google Analytics -->
{% endif %}

{% block include_extra_scripts_bottom %}{% endblock %}

    </body>

</html>
