{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block include_scripts_top %}
<script type="text/javascript">
  const socket = io('{{socket_base_url}}');
  socket.on('general', function(json) {
    $("#active_users").html(json['/']);
  });
</script>
{% endblock %}

{% block body %}
<section class="header">
  <h3 class="title">XTCryptoSignals <small>v{{version}}</small></h3>
  <a class="button button-primary" href="https://bitbucket.org/pantunes/xtcryptosignals">Clone Bitbucket Project</a>
  <a class="button button-primary" href="https://pypi.org/project/XTCryptoSignals">Install from Pypi</a>
  <div class="value-props row">
    <div class="four columns value-prop">
      <img alt="Ticker" class="value-img" src="/static/imgs/ticker.png">
      Ticker - Data collection, Signals Service and Automatic Trading
    </div>
    <div class="four columns value-prop">
      <img alt="Server API" class="value-img" src="/static/imgs/server.png">
      Server - RESTFul API
    </div>
    <div class="four columns value-prop">
      <img alt="Website" class="value-img" src="/static/imgs/client.png">
      Client - Website
    </div>
  </div>
</section>
<div id="intro">
  <h6 class="docs-header">Ticker with all configured coins/tokens:</h6>
  <a class="button button-secondary" href="/ticker/{{frequencies[0]}}">{{frequencies[0][:-1]}} seconds Ticker</a><br/><br/>
  <h6 class="docs-header">Ticker with 3 random configured coins/tokens per Exchange:</h6>
{% for data in symbols_per_exchange %}
{% for exchange, items in data.items() %}
  <h6 class="docs-header">{{exchange.replace('_', ' ')}}:</h6>
{% for item in items %}
  <a class="button button-secondary" href="/ticker/{{item}}/{{frequencies[0]}}">{{item}} {{frequencies[0][:-1]}} seconds</a>
{% endfor %}<br/><br/>
{% endfor %}
{% endfor %}
</div>
<br/>
{% endblock %}

{% block footer %}
<div class="title"><small><b>Pooling frequency:</b> {{frequencies|join(", ")}}</small></div>
<div class="title"><small><b>Active users:</b> <span id="active_users">-</span></small></div>
<br/>
<div class="title">
  Accepting coffee donations to keep this open-source project 🔥
  <br/>
  <small><b>BTC:</b> <a href="https://www.blockchain.com/btc/address/3QLhxkScrmzbKvUFyesxCkxMaPc7EB9SFK">3QLhxkScrmzbKvUFyesxCkxMaPc7EB9SFK</a></small> |
  <small><b>ETH:</b> <a href="https://etherscan.io/address/0x2bda8e92B42AB005918E5A126E2bD7cC19Bf5fF6">0x2bda8e92B42AB005918E5A126E2bD7cC19Bf5fF6</a></small>
</div>
<br/>
{% endblock %}

{% block include_extra_scripts_bottom %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".container").css("maxWidth", "1024px" );
    });
</script>
{% endblock %}
