<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XTCryptoSignals - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='imgs/favicon-16x16.png')}}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='imgs/favicon-32x32.png')}}" sizes="32x32">
    <!--open graph protocol -->
    <meta name="title" property="og:title" content="XTCryptoSignals"/>
    <meta property="og:type" content="Crypto Platform Data Tools">
    <meta name="image" property="og:image" content="//xtcryptosignals.com/{{url_for('static', filename='imgs/logo_transparent.png')}}"/>
    <meta name="description" property="og:description" content="Cryptocurrencies price data collection, price tickers, signals notifications, charts and many other features."/>
    <meta property="og:url" content="//xtcryptosignals.com"/>
    <meta name="author" content="Paulo Antunes">
    <!-- css -->
    <link rel='stylesheet' href="{{url_for('static', filename='css/remote/fonts.googleapis.css', family='Raleway:400,300,600')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton/normalize.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton/skeleton.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/landing/custom.css')}}" type="text/css">
</head>

<body>

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading"><img src="{{url_for('static', filename='imgs/logo_transparent_50x50.png')}}" style="vertical-align: bottom; padding-right: 0.5rem;">XTCryptoSignals <small>v{{version}}</small></h4>
          <p>Open source project with cryptocurrencies price data collection, price tickers, telegram and web push notifications, charts and many other features.</p>
          <a class="button button-primary" href="{{url_for('ticker.ticker_coins_or_tokens', frequency=frequencies[0])}}">Check XTCryptoSignals</a>
          <a class="button button-secondary" href="//t.me/xtcryptosignals">Join XTCryptoSignals Alerts in Telegram</a>
        </div>
        <div class="phones">
          <img class="phone" src="{{url_for('static', filename='imgs/landing/mac1.png')}}">
          <img class="phone" src="{{url_for('static', filename='imgs/landing/mac2.png')}}">
        </div>
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <h3 class="section-heading">Do you want to install and deploy this platform?</h3>
      <p class="section-description">Just follow the instructions described in the Github Repository!</p>
      <a class="button button-primary" href="https://github.com/pantunes/xtcryptosignals">Clone Github Repository</a>&nbsp;&nbsp;&nbsp;
      <a class="button button-primary" href="https://pypi.org/project/XTCryptoSignals">Install from Pypi</a>
    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Do you want to be part of this project?</h3>
      <p class="section-description">XTCryptoSignals is open source and ready to welcome to new contributors!</p>
      <a class="button button-primary" href="https://github.com/pantunes/xtcryptosignals#xtcryptosignals">View XTCryptoSignals Docs</a>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <h3 class="section-heading">Screenshots</h3>
      <p class="section-description">&nbsp;</p>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/1.png')}}">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/2.png')}}">
        </div>
      </div>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/3.png')}}">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/4.png')}}">
        </div>
      </div>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/5.png')}}">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/6.png')}}">
        </div>
      </div>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/7.png')}}">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="{{url_for('static', filename='imgs/landing/8.png')}}">
        </div>
      </div>
    </div>
    <div style="margin-top: 2rem;">
        <p>See more screenshots <a href="https://github.com/pantunes/xtcryptosignals#screenshots">here</a> or just use the platform <a href="{{url_for('ticker.ticker_coins_or_tokens', frequency=frequencies[0])}}">here</a>. :)</p>
    </div>
  </div>

  <div class="container">
    <div style="margin-top: 3rem; text-align: center">
      <p>
        <b>{{ current_year }} @ XTCryptoSignals v{{version}}</b>
{% if show_donation %}
  - In case this project helped you in some way, I'm accepting a small <a href="https://donate.xtcryptosignals.com/">donation</a> to keep it on-🔥.
{% endif %}
      </p>
    </div>
  </div>

{% if ga_tracking_id %}{% include 'ga.html' %}{% endif %}

</body>
</html>
