{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block include_scripts_top %}
<script src="/static/js/site.js" type="text/javascript"></script>

<script type="text/javascript">
    if ('serviceWorker' in navigator && 'PushManager' in window) {
      navigator.serviceWorker.register("{{ url_for('static', filename='js/service-worker.js')}}").then(
        function (serviceWorkerRegistration) {
          serviceWorkerRegistration.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: '{{application_server_key}}'
          }).then(
            function (pushSubscription) {
              $.ajax({
                url: '/subscription',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(pushSubscription),
                dataType: 'json'
              });
            }, function (error) {
              console.log('error = ' + error);
            }
          );
        }
      );
    }
</script>

<script type="text/javascript">
  function render_notifications(data) {
    let $table = $('#table_notifications');
    $table.find("tbody tr").remove();
    $.each(data.results.notifications, function () {
      $table.append(
          "<tr>" +
          "<td>" + this.message + "</td>" +
          "<td style='width: 140px'>" + this.created_on + "</td>" +
          "</tr>"
      );
    });
  }
</script>

<script type="text/javascript">
  function render_rules(data) {
    let $table = $('#table_rules');
    $table.find("tbody tr").remove();
    $.each(data.results, function () {
      $table.append(
          "<tr>" +
          "<td style='width: 32px; vertical-align: middle;'><img src='/static/imgs/logos/" + this.coin_token + ".png' alt='" + this.coin_token + "'/></td>" +
          // "<td>" + this.coin_token + "</td>" +
          "<td>" + this.metric + "</td>" +
          "<td>" + this.interval + "</td>" +
          "<td class='align-right'>" + this.percentage + "%</td>" +
          "<td style='width: 140px'>" + this.created_on + "</td>" +
          "</tr>"
      );
    });
  }
</script>

<script type="text/javascript">
  function render_coin_tokens(data) {
    let $select = $('#select_coin_tokens');
    $select.find("option").remove();
    $select.append('<option value="ALL" selected="selected">All</option>');
    $.each(data.results.coin_tokens, function () {
      $select.append('<option value="' + this + '">' + this + '</option>');
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    get_notifications(render_notifications, render_coin_tokens);
    get_rules(render_rules);
  });
</script>

<script type="text/javascript">
    $(document).ready(function() {
      $(".navbar-countdown").hide();
    });
</script>
{% endblock %}

{% block body %}

{% with url='ticker.ticker', params=dict() %}
{% include 'snippets/menu.html' %}
{% endwith %}

<br/><br/>

<div class="row">
    <div class="five columns">
      <div style="float: left">
        <h5>My Notifications Rules</h5>
      </div>
      <div style="float: right">
        <input class="button-primary" type="button" value="Add Rule" onclick="(
          function() {
            open_modal('#rule');
            return false;
          })(); return false;">
      </div>

      <table class="u-full-width" id="table_rules">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <!--<th>Coin/Token</th>-->
            <th>Metric</th>
            <th>Interval</th>
            <th>Perc. %</th>
            <th>Added On UTC</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

  </div>

  <div class="seven columns">
    <div style="float: left;">
      <h5>My last 30 Notifications</h5>
    </div>
    <div style="float: right">
      <select id="select_coin_tokens" onchange="(
        function() {
          get_notifications(
            render_notifications, null, $('#select_coin_tokens').val()
          );
          return false;
        }
      )(); return false;"></select>
    </div>

    <table class="u-full-width" id="table_notifications">
      <thead>
        <tr>
          <th>Notification</th>
          <th>Sent On UTC</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    </div>
</div>

{% include 'modals/rule.html' %}

{% endblock %}

{% block include_extra_scripts_bottom %}
<script type="text/javascript">
    $(document).ready(function() {
      $(".container").css("maxWidth", "1380px" );
    });
</script>
{% endblock %}
