{% extends 'ticker/ticker.html' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

{% with url='ticker.ticker', params=dict() %}
{% include 'snippets/menu.html' %}
{% endwith %}

<br/><br/>
<div class="row">
    <div class="seven columns">
      <h5>My Transactions</h5>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Coin/Token</th>
              <th>Units</th>
              <th>Paid</th>
              <th>Price per Unit</th>
              <th>Date</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BTC</td>
              <td style="text-align: right;">0.001</td>
              <td style="text-align: right;">10.84</td>
              <td style="text-align: right;">10840</td>
              <td >2019-10-29</td>
              <td style="text-align: center;">In</td>
            </tr>
            <tr>
              <td>ETH</td>
              <td style="text-align: right;">5.4</td>
              <td style="text-align: right;">1015.20</td>
              <td style="text-align: right;">184</td>
              <td>2019-10-16</td>
              <td style="text-align: center;">In</td>
            </tr>
            <tr>
              <td>BTC</td>
              <td style="text-align: right;">0.001</td>
              <td style="text-align: right;">10.84</td>
              <td style="text-align: right;">10840</td>
              <td>2019-10-12</td>
              <td style="text-align: center;">In</td>
            </tr>
            <tr>
              <td>BTC</td>
              <td style="text-align: right;">0.001</td>
              <td style="text-align: right;">10.84</td>
              <td style="text-align: right;">10840</td>
              <td>2019-08-20</td>
              <td style="text-align: center;">In</td>
            </tr>
            <tr>
              <td>BTC</td>
              <td style="text-align: right;">0.0001</td>
              <td style="text-align: right;">10.84</td>
              <td style="text-align: right;">10840</td>
              <td>2019-08-18</td>
              <td style="text-align: center;">Out</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="five columns">
        <h5>My Portfolio</h5>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Pair</th>
              <th>Exchange</th>
              <th>Current Price</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BTCUSDT</td>
              <td>Binance</td>
              <td style="text-align: right;">10230</td>
              <td style="text-align: right; color: green">+10%</td>
            </tr>
            <tr>
              <td>ETHUSDT</td>
              <td>BitMax</td>
              <td style="text-align: right;">188</td>
              <td style="text-align: right; color: red">-2.32%</td>
            </tr>
            <tr>
              <td>LTCUSDT</td>
              <td>OKEx</td>
              <td style="text-align: right;">10230</td>
              <td style="text-align: right; color: red">-8.32%</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}