{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block include_scripts_top %}

<script src="{{url_for('static', filename='js/site.js')}}" type="text/javascript"></script>

<script type="text/javascript">
  function get_units(units) {
    let u = units;
      if (u > 1) {
        u = Number((u).toFixed(2));
      }
    return u
  }
</script>

<script type="text/javascript">
  function render_transactions(data) {
    let $table = $('#table_transactions');
    $table.find("tbody tr").remove();
    $.each(data.results, function () {
      const p = _get_formatter(this.unit_price, false)
      $table.append(
          "<tr>" +
          "<td style='vertical-align: middle;'><div class=\"coin-or-token one-coin\"><img src='" + static_folder + this.coin_token + ".png' alt='" + this.coin_token + "' title='" + this.coin_token + "'/></div></td>" +
          "<td class='align-right'>" + get_units(this.units) + "</td>" +
          "<td class='align-right'>" + price_formatter_us.format(this.amount) + "</td>" +
          "<td class='align-right'>" + p.format(this.unit_price) + "</td>" +
          "<td style=\"text-align: center;\">" + this.in_or_out + "</td>" +
          "<td>" + this.added_on + "</td>" +
          "</tr>"
      );
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    get_transactions(render_transactions);
  });
</script>

<script type="text/javascript">
    $(document).ready(function() {
      $(".navbar-countdown").hide();
    });
</script>

{% endblock %}

{% block body %}

{% with url_ticker='ticker.ticker', params={} %}
{% include 'menu.html' %}
{% endwith %}

<br/><br/>

<div class="row u-pull-left">
    <div class="six columns">
      <div class="u-pull-left">
        <h5>My Transactions</h5>
      </div>
      <div class="u-pull-right">
        <input class="button-primary" type="button" value="Add Tx" onClick="(
          function() {
            open_modal('#transaction');
            return false;
          })(); return false;">
      </div>

      <table id="table_transactions">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th style="text-align: right;">Units</th>
            <th style="text-align: right;">In/Out</th>
            <th style="text-align: right;">Unit $</th>
            <th>Type</th>
            <th style="text-align: right;">Added on</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

  </div>
</div>

{% include 'modals/transaction.html' %}

{% endblock %}
