{% extends 'ticker/ticker.html' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

{% with url_ticker='ticker.ticker', params=dict() %}
{% include 'snippets/menu.html' %}
{% endwith %}

<script type="text/javascript">
  function get_units(units) {
    let u = units;
      if (u > 1) {
        u = Number((u).toFixed(2));
      }
    return u
  }
</script>

<script type="text/javascript">
  function render_transactions(data) {
    let $table = $('#table_transactions');
    $table.find("tbody tr").remove();
    $.each(data.results, function () {
      let p = price_formatter;
      if (this.unit_price < 1) {
        p = price_formatter_low_values;
      }
      $table.append(
          "<tr>" +
          "<td style='width: 32px; vertical-align: middle;'><img src='/static/imgs/logos/" + this.coin_token + ".png' alt='" + this.coin_token + "'/></td>" +
          "<td class='align-right'>" + get_units(this.units) + "</td>" +
          "<td class='align-right'>" + price_formatter.format(this.amount) + "</td>" +
          "<td class='align-right'>" + p.format(this.unit_price) + "</td>" +
          "<td style=\"text-align: center;\">" + this.in_or_out + "</td>" +
          "<td>" + this.added_on + "</td>" +
          "</tr>"
      );
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    get_transactions(render_transactions);
  });
</script>

<br/><br/>

<div class="row u-pull-left">

    <div class="six columns">
      <div class="u-pull-left">
        <h5>My Transactions</h5>
      </div>
      <div class="u-pull-right">
        <input class="button-primary" type="button" value="Add Tx" onClick="(
          function() {
            open_modal('#transaction');
            return false;
          })(); return false;">
      </div>

      <table id="table_transactions">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Units</th>
            <th>In/Out</th>
            <th>Unit $</th>
            <th>Type</th>
            <th>Added on</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

  </div>
</div>

{% include 'modals/transaction.html' %}

{% endblock %}
