<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XTCryptoSignals - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:400,300,600' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- jQuery Modal -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
    <!-- /jQuery Modal -->
    <style>
        #footer {
            text-align:center;
            position:absolute;
            width:100%;
            height:40px;
            padding:10px 0 0 0;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if (window.location.hash === '#contact') {
                $('#contact').modal(); return
            }
            if (window.location.hash === '#login') {
                $('#login').modal(); return
            }
            if (window.location.hash === '#signup') {
                $('#signup').modal(); return
            }
        });
    </script>
    <!-- jQuery Modal -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <!-- /jQuery Modal -->

{% block include_scripts_top %}{% endblock %}

    <body class="has-docked-nav">
        <div class="container">
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        </div>

        <!-- Contact Modal -->
        <div id="contact" class="modal">
            <form id="form_contact">
              <div class="row">
                <div class="six columns">
                  <label for="contact_email">Your e-mail address</label>
                  <input class="u-full-width" type="email" placeholder="you@mailbox.com" id="contact_email" name="email">
                </div>
                <div class="six columns">
                  <label for="contact_reason">Reason for contacting</label>
                  <select class="u-full-width" id="contact_reason" name="reason">
                    <option value="question">Question</option>
                    <option value="bug">Report a Bug</option>
                  </select>
                </div>
              </div>
              <label for="contact_message">Message</label>
              <textarea class="u-full-width" placeholder="e.g. How can I integrate this project in my servers?" id="contact_message" name="message"></textarea>
              <input class="button-primary" type="button" value="Submit" onClick="(
                  function() {
                      $.post('/contact', $('#form_contact').serialize(), function(_) {
                        $.modal.close();
                      });
                      return false;
                })();return false;">
            </form>
        </div>
        <!-- /Contact Modal -->

        <!-- Login Modal -->
        <div id="login" class="modal">
            <form id="form_login">
              <div class="row">
                <div class="twelve columns">
                  <label for="login_email">E-mail address</label>
                  <input class="u-full-width" type="email" placeholder="you@mailbox.com" id="login_email" name="email">
                </div>
              </div>
              <div class="row">
                <div class="twelve columns">
                    <label for="login_password">Password</label>
                    <input class="u-full-width" type="password" id="login_password" name="password">
                </div>
              </div>
              <input class="button-primary" type="button" value="Login" onClick="(
                  function() {
                      $.post('/login', $('#form_login').serialize(), function(_) {
                        $.modal.close();
                      });
                      return false;
                })();return false;">
            </form>
        </div>
        <!-- /Login Modal -->

        <!-- Signup Modal -->
        <div id="signup" class="modal">
            <form id="form_signup">
              <div class="row">
                <div class="twelve columns">
                  <label for="signup_email">E-mail address</label>
                  <input class="u-full-width" type="email" placeholder="you@mailbox.com" id="signup_email" name="email">
                </div>
              </div>
              <div class="row">
                <div class="twelve columns">
                    <label for="signup_password">Password</label>
                    <input class="u-full-width" type="password" id="signup_password" name="password">
                </div>
              </div>
              <div class="row">
                <div class="twelve columns">
                    <label for="signup_retype_password">Re-type Password</label>
                    <input class="u-full-width" type="password" id="signup_retype_password" name="password">
                </div>
              </div>
              <input class="button-primary" type="button" value="Submit" onClick="(
                  function() {
                      $.post('/signup', $('#form_signup').serialize(), function(data) {
                        // Check if passwords match

                        $.modal.close();
                      });
                      return false;
                })();return false;">
            </form>
        </div>
        <!-- /Signup Modal -->

{% block include_scripts_bottom %}{% endblock %}

        <br/>
        <div id="footer">2019 @ <a href="https://pauloantunes.com">pauloantunes.com</a></div>


        <!-- Dark Mode -->
        <link rel="stylesheet" href="/static/css/darkmode.css">
        <script src="//cdn.jsdelivr.net/npm/darkmode-js@1.5.0/lib/darkmode-js.min.js"></script>
        <script type="text/javascript">
            const options = {
                time: '0.0s', // default: '0.3s'
                saveInCookies: true, // default: true,
                label: '🌓', // default: ''
                autoMatchOsTheme: true // default: true
            };
            const darkmode = new Darkmode(options);
            darkmode.showWidget();
        </script>
        <!-- /Dark Mode -->

{% if ga_tracking_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ ga_tracking_id }}');
    </script>
    <!-- /Global site tag (gtag.js) - Google Analytics -->
{% endif %}

{% block include_extra_scripts_bottom %}{% endblock %}

    </body>

</html>
