<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>XTCryptoSignals - Exchanges Pair Frequency</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" type="text/javascript" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" ></script>
    <script>
        const price_formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 2,
        })
        var socket = io.connect('http://127.0.0.1:5000/{{frequency}}');
        socket.on('ticker', function(json) {
            console.log(json)
            if (json.source == "{{exchange.lower()}}") {
                if (json.symbol == "{{pair.upper()}}") {
                    $('#price').after('<div>' + price_formatter.format(json.price) + '</div>');
                }
            }
        });
    </script>
    <body>
      <div id="price">{{pair.upper()}} price from {{exchange.capitalize()}}:</div>
    </body>
</html>
