{% extends 'base.html' %}

{% block title %}Ticker{% endblock %}

{% block include_scripts_top %}
<script type="text/javascript">
var socket = io.connect('{{server_api_base_url}}');
socket.on('general', function(json) {
  $("#active_users").html(json['/']);
});
</script>
{% endblock %}

{% block body %}
<section class="header">
  <h2 class="title">XTCryptoSignals <small>v{{version}}</small></h2>
  <a class="button button-primary" href="https://bitbucket.org/pantunes/xtcryptosignals">Clone Bitbucket Project</a>
  <a class="button button-primary" href="https://pypi.org/project/XTCryptoSignals">Install from Pypi</a>
  <div class="value-props row">
    <div class="four columns value-prop">
      <img class="value-img" src="/static/imgs/ticker.png">
      Ticker - Data collection, Signals Service and Automatic Trading
    </div>
    <div class="four columns value-prop">
      <img class="value-img" src="/static/imgs/server.png">
      Server - RESTFul API
    </div>
    <div class="four columns value-prop">
      <img class="value-img" src="/static/imgs/client.png">
      Client - Website
    </div>
  </div>
</section>
<div id="intro">
  <h6 class="docs-header">Ticker with all configured coins/tokens:</h6>
  <a class="button button-secondary" href="/ticker/{{frequencies[0]}}">{{frequencies[0][:-1]}} seconds Ticker</a><br/><br/>
  <h6 class="docs-header">Ticker with 3 random configured coins/tokens per Exchange:</h6>
  {% for data in symbols_per_exchange %}
  {% for exchange, items in data.items() %}
  <h6 class="docs-header">{{exchange.replace('_', ' ')}}:</h6>
  {% for item in items %}
  <a class="button button-secondary" href="/ticker/{{item}}/{{frequencies[0]}}">{{item}} {{frequencies[0][:-1]}} seconds</a>
  {% endfor %}
  {% endfor %}
  {% endfor %}
</div>
<br/>
{% endblock %}

{% block footer %}
<div class="title"><small><b>Pooling frequency:</b> {{frequencies|join(", ")}}</small></div>
<div class="title"><small><b>Active users:</b> <span id="active_users">-</span></small></div>
{% endblock %}
