{% extends 'base.html' %}

{% block title %}Ticker{% endblock %}

{% block body %}
<div class="container">
  <section class="header">
    <h2 class="title">XTCryptoSignals <small>v{{version}}</small></h2>
    <a class="button button-primary" href="https://bitbucket.org/pantunes/xtcryptosignals">Clone Bitbucket Project</a>
    <a class="button button-primary" href="https://pypi.org/project/XTCryptoSignals">Install from Pypi</a>
    <div class="value-props row">
      <div class="four columns value-prop">
        <img class="value-img" src="/static/imgs/icons8-timer-480.png">
        Ticker with Data collection, Signals Service and Automatic Trading
      </div>
      <div class="four columns value-prop">
        <img class="value-img" src="/static/imgs/icons8-server-480.png">
        RESTFul Server API
      </div>
      <div class="four columns value-prop">
        <img class="value-img" src="/static/imgs/icons8-website-480.png">
        Website
      </div>
    </div>
  </section>
  <div id="intro">
    <h6 class="docs-header">Ticker with all configured coins/tokens:</h6>
    <a class="button button-secondary" href="/ticker/{{frequencies[0]}}">{{frequencies[0][:-1]}} seconds Ticker</a><br/><br/>
    <h6 class="docs-header">Ticker with 3 random configured coins/tokens per Exchange:</h6>
    {% for data in symbols_per_exchange %}
    {% for exchange, items in data.items() %}
    <h6 class="docs-header">{{exchange}}:</h6>
    {% for item in items %}
    <a class="button button-secondary" href="/ticker/{{item}}/{{frequencies[0]}}">{{item}} {{frequencies[0][:-1]}} seconds</a>
    {% endfor %}
    {% endfor %}
    {% endfor %}
  </div>
  <br/><div class="title"><small><b>Pooling frequency:</b> {{", ".join(frequencies)}}</small></div><br/>
</div>
{% endblock %}
