{% extends 'base.html' %}

{% block title %}Ticker{% endblock %}

{% block body %}
<div class="container">
  <section class="header">
    <h2 class="title">XTCryptoSignals <small>v{{version}}</small></h2>
    <a class="button button-primary" href="https://bitbucket.org/pantunes/xtcryptosignals">Clone Bitbucket Project</a>
    <a class="button button-primary" href="https://pypi.org/project/XTCryptoSignals">Download Pypi Package</a>
    <div class="value-props row">
      <div class="four columns value-prop">
        Ticker with Data collection, Signals Service and Automatic Trading
      </div>
      <div class="four columns value-prop">
        RESTFul Server API
      </div>
      <div class="four columns value-prop">
        Website
      </div>
    </div>
  </section>
  <div class="docs-section" id="intro">
    <h6 class="docs-header">Is XTCryptoSignals for you?</h6>
    <a class="button button-primary" href="/io/ticker/10s">See Ticker 10s page</a>
    <a class="button button-primary" href="/io/ticker/btcusdt/10s">See BTC-USDT Ticker 10s page</a>
    <p>XTCryptoSignals <3</p>
  </div>
</div>
{% endblock %}
