<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>XTCryptoSignals - Price Update</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" type="text/javascript" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" ></script>
    <script>
        var socket = io.connect('http://127.0.0.1:5000');
        socket.on('connect', function() {
            console.log('Connected');
        });
        socket.on('ticker', function(json) {
            if (json.source == "okex") {
                if (json.symbol == "BTCUSDT") {
                    $('#title').after('<div>' + json.price.toFixed(2) + '</div>');
                }
            }
        });
    </script>
    <body>
      <div id="title">BTC price from OKEx (in USDT):</div>
    </body>
</html>
