{% extends 'ticker.html' %}

{% block title %}{{pair.upper()}} - {{frequency}}{% endblock %}

{% block body %}
<table>
    <caption><h3>{{pair}} - {{frequency}}</h3></caption>
    <thead>
        <tr>
            <th>Exchange</th>
            {% for att in attributes %}
            <th>{{att}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{% for i in symbols_per_exchange %}
    {% for exchange, d in i.items() %}
    {% if d['pairs']%}
        {% for c, r in d['pairs'] %}
        <tr>
        <td>{{exchange.upper()}}</td>
        {% for att in attributes %}
        <td id="{{exchange.lower()}}_{{c.lower()}}{{r.lower()}}_{{att.replace(' ', '_').lower()}}_{{frequency}}" style="text-align: right;">-</td>
        {% endfor %}
        </tr>
        {% endfor %}
    {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
    </tbody>
</table>
