/*skeleton custom.css overwriting*/

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 12rem;
  }
}
@media (min-width: 750px) {
  .navbar-link {
    font-size: 10px;
  }
  .popover-item:first-child .popover-link:before {
    border-width: 10px;
    margin-left: -10px;
  }
}
@media (min-width: 550px) {
  .container {
    width: 90%;
  }
}
input[type="button"] {
  font-size: 10px;
}
body {
  font-size: 1.3em;
}
.container {
  max-width: none;
}
.numeric_value {
  color: #000;
}
.navbar-right-item {
  position: relative;
  float: right;
  margin-right: 0;
  margin-bottom: 0;
}
.navbar-countdown {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 55px;
  line-height: 6.5rem;
  background-color: #fafafa;
  color: #ccc;
  padding: 6px;
  border-radius: 4px;
}
.navbar-fear-greed {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 55px;
  line-height: 6.5rem;
  padding: 8px;
  color: white;
  border-radius: 4px;
}
.fear-greed-red {
  background-color: #ff8080;
}
.fear-greed-yellow {
  background-color: rgba(217, 205, 134, 0.92);
  color: #000;
}
.fear-greed-green {
  background-color: #bdffd6;
  color: #000;
}
.popover {
  left: -35%;
}
#footer {
  text-align:center;
  position:absolute;
  width:100%;
  height:40px;
  padding:10px 0 0 0;
}
.modal_error {
  font-size: 85%;
  color: red;
}
.row-tx-out {
  background-color: #fff8f8;
}
.bigger {
  font-size: 160%;
}
.align-right {
  text-align: right;
}
.positive {
  background-color: #e6ffee;
}
.negative {
  background-color: #ffe6e6;
}
.custom-grid .column,
.custom-grid .columns {
  border-radius: 4px;
  background-color: #fafafa;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: .1rem;
}
.custom-grid-without-subtitles .column,
.custom-grid-without-subtitles .columns {
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
}
