/*skeleton custom.css overwriting*/
.container {
  max-width: 1320px;
}
.numeric_value {
  color: #000;
}
.navbar-right-item {
  position: relative;
  float: right;
  margin-right: 0;
  margin-bottom: 0;
}
.navbar-countdown {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 55px;
  text-decoration: none;
  line-height: 6.5rem;
  background-color: #FFFF00;
  color: #222;
  padding: 2px;
}
.popover {
  left: -35%;
}
/*custom*/
#footer {
  text-align:center;
  position:absolute;
  width:100%;
  height:40px;
  padding:10px 0 0 0;
}
.modal_error {
  font-size: 85%;
  color: red;
}
.row-tx-out {
  background-color: #fff8f8;
}
.bigger {
  font-size: large;
}
.align-right {
    text-align: right;
}
