.darkmode--activated th,
.darkmode--activated td {
    border-bottom: 1px solid #505050;
}

.darkmode--activated td,
.darkmode--activated .numeric_value,
.darkmode--activated #footer,
.darkmode--activated a.navbar-link {
  color: #b3b3b3;
}

.darkmode--activated h2,
.darkmode--activated h3,
.darkmode--activated h4,
.darkmode--activated h5,
.darkmode--activated h6,
.darkmode--activated th,
.darkmode--activated .four,
.darkmode--activated .title {
  color: #6c6c6c;
}

.darkmode--activated .navbar {
  background: #161616;
}

.darkmode--activated .navbar-countdown {
  background: #999;
}

.darkmode--activated .popover,
.darkmode--activated .popover-link {
  background: #161616;
  color: #b3b3b3;
}

.darkmode--activated .popover-link:hover {
  color: #fff;
  background: #a6a6a6;
}

.darkmode--activated .popover-link:hover,
.darkmode--activated .popover-item:first-child,
.darkmode--activated .popover-link:hover:after {
  border-bottom-color: #fff;
}

.darkmode--activated .modal {
  color: #6c6c6c;
  background: #212224;
}

.darkmode--activated .row-tx-out {
  background: #212224;
}
