.darkmode-toggle {
  z-index: 500;
}

.darkmode--activated .darkmode-background {
  background-color: #e0e0e0;
}

.darkmode--activated th,
.darkmode--activated td {
  border-bottom: 1px solid #505050;
}

.darkmode--activated td,
.darkmode--activated .numeric_value,
.darkmode--activated #footer,
.darkmode--activated a.navbar-link {
  color: #b3b3b3;
}

.darkmode--activated h2,
.darkmode--activated h3,
.darkmode--activated h4,
.darkmode--activated h5,
.darkmode--activated h6,
.darkmode--activated th,
.darkmode--activated .four,
.darkmode--activated .title {
  color: #828282;
}

.darkmode--activated .navbar {
  background-color: #2b2b2b;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}

.darkmode--activated .navbar-countdown {
  background-color: #2b2b2b;
}

.darkmode--activated .popover,
.darkmode--activated .popover-link {
  background-color: #2b2b2b;
  color: #b3b3b3;
  border: 1px solid #2b2b2b;
}

.darkmode--activated select,
.darkmode--activated input,
.darkmode--activated textarea {
  color: #828282;
  background-color: #2b2b2b;
}

.darkmode--activated .popover-link:hover {
  color: #fff;
  background-color: #2b2b2b;
  border: 1px solid #2b2b2b;
}

.darkmode--activated .popover-item:first-child,
.darkmode--activated .popover-link:hover:after {
  border: 0;
  border-bottom-color: #2b2b2b;
}

.darkmode--activated .modal {
  color: #6c6c6c;
  background-color: #212224;
}

.darkmode--activated .row-tx-out {
  background-color: #212224;
}

.darkmode--activated .button.button-primary,
.darkmode--activated input[type="button"].button-primary {
  color: #e0e0e0;
  background-color: #248dad;
  border-color: #248dad;
}

.darkmode--activated .button.button-secondary,
.darkmode--activated input[type="button"].button-secondary {
  color: #e0e0e0;
  background-color: #2b2b2b;
  border-color: #364a50;
}

.darkmode--activated #balances > div,
.darkmode--activated .custom-grid > div {
  color: #e0e0e0;
  background-color: #2b2b2b;
  border-color: #364a50;
}

.darkmode--activated a {
  color: #248dad;
}

.darkmode--activated .positive {
  background-color: #282b29;
}
.darkmode--activated .negative {
  background-color:  #2b2727;
}
