{% extends 'base.html' %}

{% block title %}{{frequency}}{% endblock %}

{% block include_scripts_top %}
<script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="/static/js/sparkline.js" type="text/javascript"></script>
<script src="/static/js/site.js" type="text/javascript"></script>

<script type="text/javascript">
    let timeleft = 1;
    setInterval(function() {
      $('#update_ticker').text(timeleft);
      timeleft += 1;
    }, 1000);
</script>

<script type="text/javascript">
    function isFloat(n) {
        return Number(n) === n && n % 1 !== 0;
    }

    function _get_formatter(val, is_usd) {
        let p;
        if (val < 1) {
            if (is_usd) {
                p = price_formatter_low_values;
            } else {
                p = num_formatter_low_values;
            }
        } else {
            if (is_usd) {
                p = price_formatter;
            } else {
                p = num_formatter;
            }
        }
        return p
    }

    const socket = io.connect('{{socket_base_url}}{{frequency}}');
    socket.on('ticker', function(json) {
        const is_usd = json['symbol'].substr(json['symbol'].length - 3) === 'USD';
        const list = {{attributes|safe}}
        for (let i = 0; i < list.length; i++) {
            let _attr = list[i].split(' ').join('_').toLowerCase();
            let val = json[_attr];
            if (val == null) {
                continue
            }
            const _id = '#' + json.source + '_' + json.symbol.toLowerCase() + '_' + _attr + '_' + json.frequency;

            if (_attr === 'price_change_chart') {
                doChart($(_id), json.price_change_chart);
                return
            }

            if (['price', 'price_usdt', 'volume_24h'].includes(_attr)) {
                if (['price', 'price_usdt'].includes(_attr)) {
                    const color = (json.price_change > 0) ? "#e3ffe2" : "#ffe2e2";
                    $(_id).effect("highlight", {
                        color: color,
                        queue: false
                    }, 1100, "slow");
                }

                if (_attr === 'price_usdt') {
                    try {
                        post_ticker_emit(_id, json)
                    } catch (e) {}
                }

                val = _get_formatter(val, is_usd).format(val)

            } else if (_attr === 'number_trades_24h') {
                val = numeral(val).format('0,0');
            } else if (isFloat(json[_attr])) {
                val = numeral(val).format('0,0.00');
            }

            let suffix = '';
            if(['price_change', 'volume_change', 'number_trades_change'].indexOf(_attr) >= 0) {
                if (json[_attr] !== 0) {
                    $(_id).css("color", (json[_attr] > 0) ? "green" : "red")
                } else {
                    $(_id).attr("class", "numeric_value");
                }
                suffix = '%'
            }

            if(['updated_on'].indexOf(_attr) >= 0) {
                val = moment(moment.utc(val).toDate()).local().fromNow();
            }

            if (_id.indexOf('#binance_btcusdt_price_') !== -1) {
                timeleft = 1;
            }
            $(_id).html(val + suffix);
        }
    });
</script>

<script type="text/javascript">
    function _equal(l1, l2) {
        if (l1.length !== l2.length) return false;
        if (l1.length < 1) return false;
        for (let i = 0; i < l1.length; i++) {
            if (l1[i] !== l2[i]) return false
        }
        return true
    }

    function doChart(elem, data) {
        const asc = [...data].sort(function(a, b){return a-b});
        const desc = [...asc].reverse();
        let lineColor = null;
        let fillColor = null;
        if (!_equal(data, asc)) {
            if (_equal(data, desc)) {
                lineColor = 'red';
                fillColor = '#ffd4d4';
            }
        } else {
            lineColor = 'green';
            fillColor = '#e1ffd9';
        }
        elem.highcharts('SparkLine', {
            series: [{
                data: data,
                pointStart: 1
            }],
            tooltip: {
                headerFormat: '',
                pointFormat: '<b>{point.y}%</b>'
            },
            plotOptions: {
                series: {
                    lineColor: lineColor,
                    fillColor: fillColor
                }
            }
        });
    }
</script>

<script type="text/javascript">
let price_formatter_setup_low_values = {
    minimumFractionDigits: 0,
    maximumFractionDigits: 8,
    style: 'currency',
    currency: 'USD',
};
const price_formatter_low_values = new Intl.NumberFormat('en-US', price_formatter_setup_low_values);

let num_formatter_setup_low_values = {
    minimumFractionDigits: 0,
    maximumFractionDigits: 8,
};
const num_formatter_low_values = new Intl.NumberFormat('en-US', num_formatter_setup_low_values);

let price_volume_formatter_setup = {
    minimumFractionDigits: 0,
    maximumFractionDigits: 0,
    style: 'currency',
    currency: 'USD',
};
const price_volume_formatter = new Intl.NumberFormat('en-US', price_volume_formatter_setup);

let num_formatter_setup = {
    minimumFractionDigits: 0,
    maximumFractionDigits: 0,
};
const num_formatter = new Intl.NumberFormat('en-US', num_formatter_setup);
</script>

<script type="text/javascript">
let charts=[];
function render_data_charts(data, coin_or_token, frequency) {
    let p = price_formatter;
    if (data.prices[0][1] < 1) {
        p = price_formatter_low_values;
    }
    const chart_id = 'chart_' + coin_or_token + frequency;
    let chart = create_chart_coin_or_token(
        chart_id, p, price_volume_formatter,
        num_formatter, data, coin_or_token, frequency,
    );
    charts.push(chart);
    setChartTheme();
    $('#row_'+chart_id).show();
}
</script>

<script type="text/javascript">
function _post_and_get_ticker_emit(id, json, reference_name, reference_pair, coin_or_token) {
    if (json['source'] !== reference_name) {
        return;
    }
    if (json['symbol'] !== coin_or_token + reference_pair) {
        return;
    }
    for (let i in charts) {
        charts[i].series[0].addPoint([json['created_on_ts'], json['price']], false, false);
        charts[i].series[1].addPoint([json['created_on_ts'], json['volume_24h']], false, false);
        charts[i].series[2].addPoint([json['created_on_ts'], json['number_trades_24h']], false, false);
        charts[i].redraw();
    }
    return json
}
</script>

{% endblock %}

{% block body %}

{% with url_ticker='ticker.ticker', params=dict() %}
{% include 'snippets/menu.html' %}
{% endwith %}

{% for i in symbols_per_exchange %}
    {% for exchange, d in i.items() %}
    {% if d['pairs'] %}
    <br/>
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width" id="{{exchange.upper()}}">
                <caption><h5>{{exchange.replace('_', ' ').upper()}} - {{frequency}}</h5></caption>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Pair</th>
                        {% for att in attributes %}
                        <th>{{ att }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for c, r in d['pairs'] %}
                    <tr>
                        <td style="width: 32px; vertical-align: middle;"><img src="/static/imgs/logos/{{c}}.png" alt="{{c}}"/></td>
                        <td style="width: 100px;">
                            <a href="{{url_for('ticker.pair_frequency', frequency=frequency, pair=c+r)}}">{{c}}-{{r}}</a>
                        </td>
                        {% for att in attributes %}
                            {% set _id = "{}_{}{}_{}_{}".format(exchange.lower(), c.lower(), r.lower(), att.replace(' ', '_').lower(), frequency) %}
                            {% if 'price_change_chart' != att.replace(' ', '_').lower() %}
                                <td style="text-align: right;">
                                    <span id="{{_id}}" style='padding-left: 8px'>-</span>
                                </td>
                            {% else %}
                                <td id="{{_id}}" style="width: 150px;"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
