{% extends 'base.html' %}

{% block title %}{{frequency}}{% endblock %}

{% block include_scripts_top %}
<script src="{{url_for('static', filename='js/remote/highcharts.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/sparkline.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/site.js')}}" type="text/javascript"></script>

<script type="text/javascript">
    let timeleft = 1;
    setInterval(function() {
      $('#update_ticker').text(timeleft);
      timeleft += 1;
    }, 1000);
</script>

<script type="text/javascript">
    function isFloat(n) {
        return Number(n) === n && n % 1 !== 0;
    }

    function is_usd_or_euro(json) {
        const fiat = json['symbol'].replace(json['ticker'], "");
        if (fiat === 'USD') return '$';
        if (fiat === 'EUR') return '€';
    }

    const socket = io('{{socket_base_url}}{{frequency}}');
    socket.on('ticker', function(json) {
        const _dict = {{attributes|safe}}
        for (let _attr in _dict) {
            let val = json[_attr];
            if (val == null) {
                continue
            }
            const _id = '#' + json.source + '_' + json.symbol.toLowerCase() + '_' + _attr + '_' + json.frequency;

            if (_attr === 'price_change_chart') {
                doChart($(_id), json[_attr]);
                return
            }

            if (['price', 'price_usdt', 'volume_24h'].includes(_attr)) {
                if (['price', 'price_usdt'].includes(_attr)) {
                    const color = (json['price_change'] > 0) ? "#e3ffe2" : "#ffe2e2";
                    $(_id).effect("highlight", {
                        color: color,
                        queue: false
                    }, 1100, "slow");
                }

                if (_attr === 'price_usdt') {
                    try {
                        post_ticker_emit(_id, json)
                    } catch (e) {}
                }

                val = _get_formatter(val, is_usd_or_euro(json)).format(val)

            } else if (['number_trades_24h'].includes(_attr)) {
                val = numeral(val).format('0,0');
            } else if (['price_change_1h', 'price_change_1d', 'price_change_1w', 'price_change_4w'].includes(_attr)) {
                val = numeral(val).format('0,0.0');
            } else if (isFloat(json[_attr])) {
                val = numeral(val).format('0,0.00');
            }

            let suffix = '';
            if(['price_change', 'volume_change', 'number_trades_change',
                'price_change_1h', 'price_change_1d', 'price_change_1w',
                'price_change_4w'].indexOf(_attr) >= 0) {
                if (json[_attr] !== 0.0) {
                    $(_id).css("color", (json[_attr] > 0) ? "green" : "red")
                } else {
                    $(_id).attr("class", "numeric_value");
                }
                suffix = '%'
            }

            if(['updated_on'].indexOf(_attr) >= 0) {
                val = moment(moment.utc(val).toDate()).local().fromNow();
            }

            if (_id.indexOf('#binance_btcusdt_price_') !== -1) {
                timeleft = 1;
            }
            $(_id).html(val + suffix);
        }
    });
</script>

<script type="text/javascript">
    function _equal(l1, l2) {
        if (l1.length !== l2.length) return false;
        if (l1.length < 1) return false;
        for (let i = 0; i < l1.length; i++) {
            if (l1[i] !== l2[i]) return false
        }
        return true
    }

    function doChart(elem, data) {
        const asc = [...data].sort(function(a, b){return a-b});
        const desc = [...asc].reverse();
        let lineColor = null;
        let fillColor = null;
        if (!_equal(data, asc)) {
            if (_equal(data, desc)) {
                lineColor = 'red';
                fillColor = '#ffd4d4';
            }
        } else {
            lineColor = 'green';
            fillColor = '#e1ffd9';
        }
        elem.highcharts('SparkLine', {
            series: [{
                data: data,
                pointStart: 1
            }],
            tooltip: {
                headerFormat: '',
                pointFormat: '<b>{point.y}%</b>'
            },
            plotOptions: {
                series: {
                    lineColor: lineColor,
                    fillColor: fillColor
                }
            }
        });
    }
</script>

<script type="text/javascript">
let charts=[];
function render_data_charts(data, coin_or_token, quote, frequency) {
    const dyn_formatter = _get_formatter(data.prices[0][1], false)
    const chart_id = 'chart_' + coin_or_token + frequency;
    let chart = create_chart_coin_or_token(
        chart_id, dyn_formatter, data, coin_or_token, quote, frequency,
    );
    charts.push(chart);
    setChartTheme([chart]);
    $('#row_'+chart_id).show();
    chart.hideLoading();
}
</script>

<script type="text/javascript">
function _post_and_get_ticker_emit(id, json, reference_name, reference_pair, coin_or_token) {
    if (json['source'] !== reference_name) {
        return;
    }
    if (json['symbol'] !== coin_or_token + reference_pair) {
        return;
    }
    let _id = `chart_${coin_or_token}10s`
    for (let i in charts) {
        {#TODO: Improve#}
        if (charts[i].renderTo.id.indexOf('_depth_') !== -1) {
            continue
        }
        let shift = false
        if (_id === charts[i].renderTo.id && charts[i].series[0].data.length > 30) {
            shift = true
        }
        charts[i].series[0].addPoint([json['created_on_ts'], json['price_usdt']], false, shift);
        charts[i].series[1].addPoint([json['created_on_ts'], json['volume_24h']], false, shift);
        charts[i].series[2].addPoint([json['created_on_ts'], json['number_trades_24h']], false, shift);
        charts[i].redraw();
    }
    return json
}
</script>

{% endblock %}

{% block body %}

{% with url_ticker='ticker.ticker', params={} %}
{% include 'menu.html' %}
{% endwith %}

{% for i in symbols_per_exchange %}
    {% for exchange, d in i.items() %}
    {% if d['pairs'] %}
    <br/>
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width" id="{{exchange.upper()}}">
                <caption><h5>{{exchange.replace('_', ' ').upper()}} - {{frequency}}</h5></caption>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Pair</th>
                        {% for _, att in attributes.items() %}
                            <th style="text-align: right;">{{ att }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for c, r in d['pairs'] %}
                    <tr>
                        <td style="vertical-align: middle;">
                            <a href="{{url_for('ticker.token_frequency', coin_or_token=c, frequency=frequency)}}">
                                <div class="coin-or-token one-coin"><img src="{{url_for('static', filename='imgs/logos/' + c + '.png')}}" alt="{{c}}" title="{{c}}"/></div>
                                <div class="coin-or-token two-coin"><img src="{{url_for('static', filename='imgs/logos/' + r + '.png')}}" alt="{{r}}" title="{{r}}"/></div>
                            </a>
                        </td>
                        <td style="width: 100px;">
                            <a href="{{url_for('ticker.pair_frequency', frequency=frequency, pair=c+r)}}">{{c}}-{{r}}</a>
                        </td>
                        {% for att, _ in attributes.items() %}
                            {% set _id = "{}_{}{}_{}_{}".format(exchange.lower(), c.lower(), r.lower(), att, frequency) %}
                            {% if 'price_change_chart' != att %}
                                <td style="text-align: right;">
                                    <span id="{{_id}}" style='padding-left: 8px'>-</span>
                                </td>
                            {% else %}
                                <td id="{{_id}}" style="width: 120px;"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
