{% extends 'base.html' %}

{% block title %}{{frequency}}{% endblock %}

{% block include_scripts_top %}
<script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="/static/js/sparkline.js" type="text/javascript"></script>
<script src="/static/js/site.js" type="text/javascript"></script>

<script type="text/javascript">
    let timeleft = 1;
    setInterval(function() {
      $('#update_ticker').text(timeleft);
      timeleft += 1;
    }, 1000);
</script>

<script type="text/javascript">
    function isFloat(n) {
        return Number(n) === n && n % 1 !== 0;
    }

    const socket = io.connect('{{socket_base_url}}{{frequency}}');
    socket.on('ticker', function(json) {
        const is_usd = json['symbol'].substr(json['symbol'].length - 3) === 'USD';
        const list = {{attributes|safe}}
        for (let i = 0; i < list.length; i++) {
            let _attr = list[i].split(' ').join('_').toLowerCase();
            let val = json[_attr];
            if (val == null) {
                continue
            }
            const _id = '#' + json.source + '_' + json.symbol.toLowerCase() + '_' + _attr + '_' + json.frequency;

            if (_attr === 'price_change_chart') {
                doChart($(_id), json.price_change_chart);
                return
            }

            if (['price', 'price_usdt', 'volume_24h'].includes(_attr)) {

                const precision = (val + "").split(".");
                let frac_digits = 2;

                if (['price', 'price_usdt'].includes(_attr)) {
                    if (precision.length > 1) {
                        frac_digits = precision[1].length
                    }
                    const color = (json.price_change > 0) ? "#e3ffe2" : "#ffe2e2";
                    $(_id).effect("highlight", {
                        color: color,
                        queue: false
                    }, 1100, "slow");
                }

                if (_attr === 'price_usdt') {
                    try {
                        post_ticker_emit(_id, json)
                    } catch (e) {}
                }

                let setup = {
                    maximumFractionDigits: frac_digits
                };
                if (is_usd) {
                    setup.minimumFractionDigits = frac_digits;
                    setup.style = 'currency';
                    setup.currency = 'USD'
                }

                const price_formatter = new Intl.NumberFormat('en-US', setup);
                val = price_formatter.format(val)

            } else if (_attr === 'number_trades_24h') {
                val = numeral(val).format('0,0');
            } else if (isFloat(json[_attr])) {
                val = numeral(val).format('0,0.00');
            }

            let suffix = '';
            if(['price_change', 'volume_change', 'number_trades_change'].indexOf(_attr) >= 0) {
                if (json[_attr] !== 0) {
                    $(_id).css("color", (json[_attr] > 0) ? "green" : "red")
                } else {
                    $(_id).attr("class", "numeric_value");
                }
                suffix = '%'
            }

            if (_id.indexOf('#binance_btcusdt_price_') !== -1) {
                timeleft = 1;
            }
            $(_id).html(val + suffix);
        }
    });
</script>

<script type="text/javascript">
    function _equal(l1, l2) {
        if (l1.length !== l2.length) return false;
        if (l1.length < 1) return false;
        for (let i = 0; i < l1.length; i++) {
            if (l1[i] !== l2[i]) return false
        }
        return true
    }

    function doChart(elem, data) {
        const asc = [...data].sort(function(a, b){return a-b});
        const desc = [...asc].reverse();
        let lineColor = null;
        let fillColor = null;
        if (!_equal(data, asc)) {
            if (_equal(data, desc)) {
                lineColor = 'red';
                fillColor = '#ffd4d4';
            }
        } else {
            lineColor = 'green';
            fillColor = '#e1ffd9';
        }
        elem.highcharts('SparkLine', {
            series: [{
                data: data,
                pointStart: 1
            }],
            tooltip: {
                headerFormat: '',
                pointFormat: '<b>{point.y}%</b>'
            },
            plotOptions: {
                series: {
                    lineColor: lineColor,
                    fillColor: fillColor
                }
            }
        });
    }
</script>
{% endblock %}

{% block body %}

{% with url='ticker.ticker', params=dict() %}
{% include 'snippets/menu.html' %}
{% endwith %}

{% for i in symbols_per_exchange %}
    {% for exchange, d in i.items() %}
    {% if d['pairs'] %}
    <br/>
    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width" id="{{exchange.upper()}}">
                <caption><h4>{{exchange.replace('_', ' ').upper()}} - {{frequency}}</h4></caption>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Pair</th>
                        {% for att in attributes %}
                        <th>{{att | replace(" On",  " On UTC") }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for c, r in d['pairs'] %}
                    <tr>
                        <td style="width: 32px; vertical-align: middle;"><img src="/static/imgs/logos/{{c}}.png" alt="{{c}}"/></td>
                        <td style="width: 100px;">
                            <a href="{{url_for('ticker.pair_frequency', frequency=frequency, pair=c+r)}}">{{c}}-{{r}}</a>
                        </td>
                        {% for att in attributes %}
                            {% set _id = "{}_{}{}_{}_{}".format(exchange.lower(), c.lower(), r.lower(), att.replace(' ', '_').lower(), frequency) %}
                            {% if 'price_change_chart' != att.replace(' ', '_').lower() %}
                                <td style="text-align: right;">
                                    <span id="{{_id}}" style="padding: 5px;">-</span>
                                </td>
                            {% else %}
                                <td id="{{_id}}" style="width: 140px;"/>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
