{% extends 'ticker/ticker.html' %}

{% block title %}{{ coin_or_token }} - {{frequency}}{% endblock %}

{% block body %}

{% with url_ticker='ticker.token_frequency', params=dict(coin_or_token=coin_or_token) %}
{% include 'snippets/menu.html' %}
{% endwith %}

<br/>
<div class="row">
    <div class="twelve columns">
        <table class="u-full-width">
            <caption><h5>{{ coin_or_token }} - {{frequency}}</h5></caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Pair</th>
                    <th>Exchange</th>
{% for att in attributes if att != 'Price USDT' %}
                <th>{{ att }}</th>
{% endfor %}
                </tr>
            </thead>
            <tbody>
{% for i in symbols_per_exchange %}
    {% for exchange, d in i.items() %}
    {% if d['pairs']%}
        {% for c, r in d['pairs'] %}
        <tr>
            <td style="width: 32px; vertical-align: middle;"><img src="/static/imgs/logos/{{c}}.png" alt="{{c}}"/></td>
            <td style="width: 100px;"><a href="{{url_for('ticker.pair_frequency', frequency=frequency, pair=c+r)}}">{{c}}-{{r}}</a></td>
            <td style="width: 100px;"><a href="{{url_for('ticker.ticker', frequency=frequency)}}#{{exchange.upper()}}">{{exchange.replace('_', ' ').upper()}}</a>
            </td>
        {% for att in attributes if att != 'Price USDT' %}
            {% set _id = "{}_{}{}_{}_{}".format(exchange.lower(), c.lower(), r.lower(), att.replace(' ', '_').lower(), frequency) %}
            {% if 'price_change_chart' != att.replace(' ', '_').lower() %}
                <td style="text-align: right;">
                    <span id="{{_id}}" style='padding-left: 8px'>-</span>
                </td>
            {% else %}
                <td id="{{_id}}" style="width: 150px;"></td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    {% endif %}
    {% endfor %}
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/charts/coin-or-token.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
    get_chart_coin_or_token_data(render_data_charts, '{{ coin_or_token }}', '{{ frequency }}');
});
</script>

<script type="text/javascript">
function post_ticker_emit(id, json) {
    _post_and_get_ticker_emit(
        id, json, '{{ reference["name"] }}', '{{ reference["pair"] }}', '{{ coin_or_token }}'
    );
}
</script>

<br/><br/>

<div class="row">
    <div class="twelve columns" id="row_chart_{{ coin_or_token }}{{ frequency }}" style="display: none;">
        <div id="chart_{{ coin_or_token }}{{ frequency }}"></div>
        <p class="highcharts-description" style="font-size:small">
            <b>Source:</b> {{ reference['name']|capitalize }}, <b>Pair:</b> {{ coin_or_token }}/{{ reference['pair'] }}
        </p>
        <br/><br/>
    </div>
</div>

{% endblock %}
