pip-tools
redis
mongoengine
click
flask
flask-restful
flask-session
flask-socketio
flask-login
flask-wtf
gunicorn
mongodb-migrations
bcrypt
environs
pywebpush
captcha
wikipedia-api
beautifulsoup4
millify
py-etherscan-api
cfscrape
python-binance
python-kucoin
python-telegram-bot
pycryptodome
jsonschema
mistune
flasgger
python-socketio[client]
websockets
cryptography
# python-idex
# switcheo

# requires code refactoring
celery==4.4.6
requests==2.23.0
marshmallow==2.20.5
eventlet==0.26.0
pymongo==3.11.3
dnspython<2
