pip-tools
redis
mongoengine
click
flask
flask-restful
flask-session
flask-socketio
flask-login
flask-wtf
gunicorn
mongodb-migrations
bcrypt
environs
pywebpush
captcha
wikipedia-api
beautifulsoup4
millify
py-etherscan-api
cfscrape
python-telegram-bot
pycryptodome
jsonschema
mistune
flasgger
python-socketio[client]
websockets
cryptography


# requires code refactoring

celery==5.1.1
dnspython<2
eventlet==0.26.0
marshmallow==2.20.5
pymongo==3.10.1
python-binance==0.7.9
python-kucoin==2.1.2
requests==2.23.0


# not needed for now

# python-idex
# switcheo
