{% extends 'base.html' %}

{% block title %}Fear & Greed Index{% endblock %}

{% block include_scripts_top %}
<script src="{{url_for('static', filename='js/site.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/remote/highcharts.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/charts/fear-and-greed.js')}}" type="text/javascript"></script>

<script type="text/javascript">
    let charts=[];
    function render_data(data, quote, frequency) {
        let chart = create_chart_fear_and_greed(data, quote, frequency);
        charts.push(chart);
        setChartTheme([chart]);
        window.location.hash = frequency;
        $('#container_buttons > button').removeClass('button-primary').addClass('button-secondary');
        $('#' + frequency).removeClass('button-secondary').addClass('button-primary')
        chart.hideLoading();
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        const frequency = window.location.hash.replace('#', '');
        get_chart_cfgi_btc_data(render_data, "{{ quote }}", frequency);
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".navbar-countdown").hide();
    });
</script>
{% endblock %}

{% block body %}

{% with url_ticker='ticker.ticker', params={} %}
{% include 'menu.html' %}
{% endwith %}

<br/><br/>

<div id="container_buttons" style="text-align: center">
    {% for cf in chart_frequencies %}
    <button class="button-secondary" id='{{ cf }}' onclick="charts=[]; get_chart_cfgi_btc_data(render_data, '{{ quote }}', '{{ cf }}'); return false;">{{ cf }}</button>
    {% endfor %}
</div>

<br/>

<div id="chart"></div>

<br/>

{% endblock %}
