{% extends 'base.html' %}

{% block title %}Fear & Greed Index{% endblock %}

{% block include_scripts_top %}
<script src="/static/js/site.js" type="text/javascript"></script>
<script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="/static/js/charts/fear-and-greed.js" type="text/javascript"></script>

<script type="text/javascript">
    let charts=[];
    function render_data(data, frequency) {
        let chart = create_chart_fear_and_greed(price_formatter, data, frequency);
        charts.push(chart);
        setChartTheme();
        window.location.hash = frequency;
        $('#container_buttons > button').removeClass('button-primary').addClass('button-secondary');
        $('#' + frequency).removeClass('button-secondary').addClass('button-primary')
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        const frequency = window.location.hash.replace('#', '');
        get_chart_cfgi_btc_data(render_data, frequency);
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".navbar-countdown").hide();
    });
</script>
{% endblock %}

{% block body %}

{% with url_ticker='ticker.ticker', params=dict() %}
{% include 'snippets/menu.html' %}
{% endwith %}

<br/><br/>

<div id="container_buttons" style="text-align: center">
    {% for cf in chart_frequencies %}
    <button class="button-secondary" id='{{ cf }}' onclick="charts=[]; get_chart_cfgi_btc_data(render_data, '{{ cf }}'); return false;">{{ cf }}</button>
    {% endfor %}
</div>

<br/>

<div id="chart"></div>
<br/>

{% endblock %}
