<!-- Info Modal -->
<div id="info" class="modal">
    <h5>Welcome to XTCryptoSignals!</h5>
    This is an Open-source software platform that is in constant development.<br/><br/>
    For now you've been already able to create your user account but there are no currently user features available.<br/><br/>
    Those are being developed and tested and once they are stable they will be released.<br/><br/>
    Return back to check it out or stay tuned for the next releases <a href="https://bitbucket.org/pantunes/xtcryptosignals">here</a>.
</div>
<!-- /Info Modal -->
