<div class="navbar-spacer"></div>
<nav class="navbar">
<div class="container">
  <ul class="navbar-list">
    <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#pairsNavPopover">Pairs</a>
      <div id="pairsNavPopover" class="popover">
        <ul class="popover-list">
{% for p in pairs %}
          <li class="popover-item">
            <a class="popover-link" href="{{url_for('ticker.pair_frequency', frequency=frequency, pair=p) if p != 'ALL' else url_for('ticker.ticker', frequency=frequency)}}">{{p}}</a>
          </li>
{% endfor %}
        </ul>
      </div>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#tokensNavPopover">Tokens</a>
      <div id="tokensNavPopover" class="popover">
        <ul class="popover-list">
{% for t in tokens %}
          <li class="popover-item">
            <a class="popover-link" href="{{url_for('ticker.token_frequency', frequency=frequency, token=t)}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
{% endfor %}
        </ul>
      </div>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#tickerNavPopover">Tickers</a>
      <div id="tickerNavPopover" class="popover">
        <ul class="popover-list">
{% for f in frequencies %}
          <li class="popover-item">
            <a class="popover-link" href="{{url_for(url, frequency=f, **params)}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
{% endfor %}
        </ul>
      </div>
    </li>
{% set spaces = '&nbsp;'|safe * 7 %}
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#myAccountNavPopover" id="menu_login">{{ 'My Area' if current_user.is_authenticated else 'Account' }}</a>
      <div id="myAccountNavPopover" class="popover">
        <ul class="popover-list">
          <li class="popover-item">
            <a class="popover-link" href="javascript:open_modal('#login');">{{spaces}}Login{{spaces}}</a>
          </li>
          <li class="popover-item">
            <a class="popover-link" href="javascript:open_modal('#signup');">{{spaces}}Signup{{spaces}}</a>
          </li>
          <li id="menu_portfolio_link" class="popover-item" style="display:{{ 'inline' if current_user.is_authenticated else 'none' }}">
            <a class="popover-link" href="{{url_for('portfolio.transactions')}}">Txs/Portfolio</a>
          </li>
          <li id="menu_notifications_link" class="popover-item" style="display:{{ 'inline' if current_user.is_authenticated else 'none' }}">
            <a class="popover-link" href="{{url_for('notification.index')}}">Notifications</a>
          </li>
          <li id="menu_logout_link" class="popover-item" style="display:{{ 'inline' if current_user.is_authenticated else 'none' }}">
            <a class="popover-link" href="javascript:;" onClick="(
              function() {
                  logout(); return false;
              })(); return false;">Logout</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="javascript:;" data-popover="#moreNavPopover">About</a>
      <div id="moreNavPopover" class="popover">
        <ul class="popover-list">
          <li class="popover-item">
            <a class="popover-link" href="https://bitbucket.org/pantunes/xtcryptosignals">On Bitbucket</a>
          </li>
          <li class="popover-item">
            <a class="popover-link" href="https://pypi.org/project/XTCryptoSignals">On Pypi</a>
          </li>
          <li class="popover-item">
            <a class="popover-link" href="javascript:open_modal('#contact');">Contact</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="navbar-right-item">
      <a class="navbar-link" style="margin-right: 0;">XTCryptoSignals v{{version}}</a>
    </li>
    <li class="navbar-right-item">
      <span class="navbar-countdown">(tickers updated <span id="update_ticker">-</span>s ago)</span>
    </li>
  </ul>
</div>
</nav>